.ov-database{
padding:120px 5%;
background:#070707;
}

.ov-title{
text-align:center;
font-size:4rem;
margin-bottom:50px;
}

.ov-screen{
display:grid;
grid-template-columns:
1fr 1.5fr .8fr;

gap:40px;

background:
rgba(255,255,255,.03);

border:
1px solid rgba(255,255,255,.08);

border-radius:30px;

padding:40px;
}

.ov-image{
display:flex;
justify-content:center;
align-items:center;
}

.ov-image img{
max-width:100%;
height:420px;
object-fit:contain;
}

.ov-content h2{
font-size:4rem;
margin-bottom:10px;
}

.ov-content p{
color:#d5d5d5;
line-height:1.8;
}

.ov-tag{
color:#00ff66;
margin-bottom:10px;
letter-spacing:3px;
}

.ov-divider{
width:120px;
height:4px;
background:#00ff66;
margin:25px 0;
}

.ov-description{
margin-top:20px;
}

.ov-stats{
background:
rgba(255,255,255,.04);

border-radius:20px;

padding:25px;
}

.ov-stats h3{
margin-bottom:25px;
}

.ov-stat{
margin-bottom:20px;
}

.ov-stat span{
display:block;
margin-bottom:8px;
}

.ov-bar{
width:100%;
height:12px;

background:
rgba(255,255,255,.1);

border-radius:20px;

overflow:hidden;
}

.ov-fill{
height:100%;
border-radius:20px;
}

.ov-selector{
display:flex;
flex-wrap:wrap;
gap:12px;

justify-content:center;

margin-top:30px;
}

.ov-btn{
min-width:150px;

padding:14px 20px;

background:
rgba(255,255,255,.05);

border:
1px solid rgba(255,255,255,.1);

color:white;

border-radius:14px;

cursor:pointer;

transition:.3s;
}

.ov-btn:hover{
transform:translateY(-3px);
}

@media(max-width:1200px){

.ov-screen{
grid-template-columns:1fr;
}

.ov-content h2{
font-size:3rem;
}

}